*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* banner style */
.banner{
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin: 50px 140px 0px 140px;
    background-position: center;
    position: relative;
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.banner-content{
    background-color: rgba(0, 0, 0, 0.5);
    width: 1320px;
    height: 600px;
    padding: 40px;
    border-radius: 15px;
}
.subtitle{
    color: #fff;
    font-size: 32px;
    font-family: 'Georgia', serif;
    text-align: center;
    align-items: center;
    margin-top: 200px;
}
.party{
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  line-height: 1.2; 
}
/* footer style */
.footer{
    background-color: #070211;
    margin-top: 6726px;
    width: 1320px;
    height: 600px;
    margin: 50px 140px 0px 140px;
}
.footer-contact{
     padding: 260px;
}
.footer-description{
    display: flex;
    color: white;
    width: 1185px;
    height: 80px;
    margin: 120px 275px 409px 140px;
    
}
.footer-address{
    margin: 120px 0px 0px 0px; 
   
}
